body{
	font-family: 'Montserrat', sans-serif;
	min-width: 1200px;
    background-image: url("vintage-paper.jpg");
    
}


.box{
	width: 50px;
	height: 50px;
	position: absolute;
}

.boxWrap{
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 0;
	margin: 0;
	position: relative;
}

#timer, #player, #end, #end2 {
	color: dimgray;
	font-size: 20px;
	top:120px;
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 5px;
    left: 50px;
}


#end2{
	display: none;
}

.hiddenEnd{
	display: none;
}


#end, #end2{
	top: 160px;
	font-size: 11px;
	border: 1px dashed gray;
	padding: 10px;
    background: rgba(255,255,255,0.6);
    text-transform: uppercase;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
}

#end:hover, #end2:hover{
	background-color: rgba(255, 221, 27, .7);
    color: black;
	cursor: pointer;
}

.crossword{
	width: 948px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 250px;
}

#crosswordWrapper{
	width: 448px;
	height: 518px;
	position: absolute;
    left: 450px;
	display: inline-block;
}

.row{
	height: 50px;
	width: 450px;
	margin: 0;
	text-align: left;
	top: 0;
}

#alert{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 40px;
	font-size: 12px;
	background-color: rgba(0,63,0,.4);
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px;
	text-align: center; 
	font-family: 'Montserrat', sans-serif;
	display: none;
}

.orientation{
    font-size: 12px;
    letter-spacing: 3px;
}

#nav{
    position: absolute;
	top: 0;
	left:0;
	width: 100%;
    line-height: 25px;
    height: 70px;
	font-size: 18px;
	background-color: rgba(140,28,9,.9);
	color: white;
	text-transform: uppercase;
	letter-spacing: 10px;
	padding: 25px;
	text-align: center; 
	font-family: 'Montserrat', sans-serif;
    bottom: 50px;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 4px dimgray;
}


#remove{
	position: fixed;
	text-align: center;
	height: 30px;
	width: 30px;
	right: 5px;
	top: 5px;
	border: 1px dashed rgba(250,250,250,0.7);
	line-height: 30px;
	padding: 10px;
	background-color: rgba(250,250,250,0.4);
}

#remove:hover{
	cursor: pointer;
	border: 1px dashed white;
	background-color: white;
}

#wait, #win, #lose, #instructions{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	top: 0px;
	left: 0px;
	display: none;
}

#waitText, #winText, #newGame, #loseText{
	text-transform: lowercase;
}

#waitText, #winText, #newGame, #loseText, #instructionsText{
	color: white;
	letter-spacing: 5px;
	position: absolute;
	margin: auto;
	top: 200px;
	left: 0;
	right: 0;
	height: 30px;
	font-size: 30px;
	text-align: center;
}

#winText, #loseText {
	font-size: 60px;
}

#newGame, #answers, #continue, #showInstructions{
	width: 500px;
	margin: 20px auto 20px auto;
	display: inline-block;
	height: 60px;
	text-decoration: none;
	color: yellow;
	border: 1px dashed white;
	font-size: 25px;
	padding: 30px 100px 60px 100px;
	top: 100px;
}

#newGame:hover, #answers:hover, #continue:hover{
	background-color: black;
	color: white;
}

textarea{
	font-size: 30px;
	overflow: hidden;
	resize: none;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	background: rgba(250,250,250,0.5);
	padding: 0;
	color: dimgray;
	font-family: 'Roboto Slab', serif;
    border-top: 0;
    border-left: 0;
    padding: 5px;
    border-image: url(pencil_scribble.jpg) 100;
}




.wordActive {
	background-color: rgba(255, 255, 255, 0.7);
}

.active{
	background-color: rgba(255, 221, 27, 0.4);
}


.filled{
	margin: 0;
	border: 0;
	width: 50px;
	height: 50px;
}

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    float: right;
}

li {
    margin: 5px 0;
    list-style-type: none;
}


#hint1:hover, #hint2:hover, #hint3:hover{
	background-color: rgba(255, 221, 27, .7);
	color: black;
	cursor: pointer;
}

.anagramChoice{
	color: dimgray;
	margin-top: 20px;
}

#anagramList{
	text-align: center;
	width: 300px;
	color: dimgray;
}

.anagramChoice li:hover{
	color: #F6CA83;
	cursor: pointer;
	}


#hint1, #hint2, #hint3 {
    /*background-color: rgba(255, 221, 27, 1); yellow 
    border: none;*/
    color: dimgray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 5px;
    border: 1px dashed gray;
	padding: 10px;
    background: rgba(255,255,255,0.6);
    text-transform: uppercase;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
}

#chatControls {
    overflow: auto;
    margin: 0 0 5px 0
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin-left: 250px;
    background: #f0f0f9;
    padding: 5px 10px;
    width: 150px;
    top: 11px;
}

#chatwrapper {
	width: 500px;
}

#chat {
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
#chat p {
    margin: 5px 0;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
}


#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

#leftWrapper{
	width: 400px;
	margin: 0;
	position: absolute;
	top: -15px;
	display: inline-block;
	height: 548px;
}

#clues{
	width: 400px;
	padding: 40px;
	text-decoration: none;
	background-color: rgba(255,255,255,0.6);
	color: dimgray;
    left: 20px;
     list-style-type: none;
     font-size: 10px;
     letter-spacing: 1px;
   box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
}

.clueACROSS{
	position: absolute;
	bottom: 5px;
    border-radius: 60px 60px 60px 0px;
}

.clueDOWN{
	top: 5px;
	position: absolute;
    border-radius: 60px 60px 60px 0px;
}


.numMarker{
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 9px;
	color: dimgray;
}

input[disabled], input:disabled, textarea[disabled], textarea[disabled="disabled"], textarea:disabled {
    background: #D8CFC5;
}

.inactive{
	background-color: #D8CFC5 !important;
	color: white !important;
}

#container {
  width: 500px;
  margin: auto;
}
/*neeeeoooon*/


#crossword_title{
  text-align: center;
  font-size: 4em;
  margin: 20px 0 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: black;
    letter-spacing: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-animation: neon1 1.5s;
  -moz-animation: neon1 1.5s;
  animation: neon1 1.5s;
}

b{
	font-size: 12px;
}



#ctitle{
	height: 300px;
	width: 500px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


#cwf div{
	display: inline-block;
}

#cwf {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 400px;
	width: 1110px;
}

#one, #two{
	display:block;
	height: 300px;
	width: 300px;
	text-align: center;
	background-color: rgba(255, 221, 27, 0.6);
	border-radius: 300px;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0px 0px 5px #fff;
	line-height: 300px;
	top: 0;
	position: absolute;
	text-align: center;
	margin: 20px 0 20px 0;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: white;
    font-family: 'Walter Turncoat', cursive;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

#two{
	right: 0;
}

#showInstructions{
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 350px;
	width: 200px;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px;
	height: 35px;
	line-heigth: 35px;
}

#showInstructions:hover{
	background-color: black;
	cursor: pointer;
}

#instructionsText{
	width: 600px;
	height: 300px;
	position: absolute;
	text-align: center;
	background-color: rgba(255, 221, 27, 0.6);	
}

#one_instructions{
	float: left;
	width: 300px;
	height: 300px;
	padding-top: 20px;
	border: 1px dashed white;
}

#one_instructions p, #two_instructions p {
	font-size: 12px;
	width: 250px;
	margin: auto;
	left: 0;
	right: 0;
	margin-top: 20px;
	letter-spacing: 0px;
}

#two_instructions{
	float: right;
	width: 300px;
	border: 1px dashed white;
	height: 300px;
	padding-top: 20px;
}


#one:hover, #two:hover {
	-moz-box-shadow: 0 0 100px #fff;
	-webkit-box-shadow: 0 100 50px #fff;
	box-shadow: 0px 0px 50px #fff;
	background-color: #fff;;
	color: black;
	text-shadow: 2px 2px 4px #FFF;
}


@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}



@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}



@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}